.glimpses-outer-container {
    display: flex;
    flex-direction: column;
}

.glimpses-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0px;
    height: fit-content;
}

.glimpses-column {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
}

.glimpses-column img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
    opacity: 0.7;
}

.glimpses-column img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.col1 {
    width: 20%;
}

.col2 {
    width: 50%;
}

.col3 {
    width: 30%;
}

.glimpses-text {
    border-radius: 0;
    cursor: pointer;
    padding: 1%;
    margin: 0;
}

.glimpses-text h1 {
    font-size: 30px;
    transition: transform 0.3s ease;
}

.glimpses-text h1:hover {
    transform: scale(1.05);
}

.glimpses-text p {
    font-size: 16px;
    color: var(--text2-color);
    transition: transform 0.3s ease;
}

.glimpses-text p:hover {
    transform: scale(1.05);
    color: var(--text-color);
}

@media (max-width: 1080px) {
    .glimpses-text {
        padding: 0;
        width: 40%;
    }
}
@media (max-width: 650px) {
    .hide-glimpses {
        display: none;
    }
}
