.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);
    opacity: 0.9;
    backdrop-filter: blur(5px);
    color: var(--text-color);
    padding: 4px 30px;
    height: 70px;
    width: 100%;
    align-items: center;
    vertical-align: middle;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.186);
    z-index: 2;
}

.nav * {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.nav-wide {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-left: 20px;
    height: 40px;
    filter: var(--image-filter);
    cursor: pointer;
}

.links-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin: 0;
}

.navlinks {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: var(--text2-color);
    transition: transform 0.3s ease-out;
}

.nav-bar-wide-links {
    margin-left: 20px;
}

.navlinks:hover {
    color: var(--text-color);
    transform: scale(1.1);
}

.active-navlink {
    color: var(--text-color);
    transform: scale(1.1);
}

.nav-menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-sidebar {
    animation: menuIn 0.5s ease-in-out forwards;
}

@keyframes menuIn {
    to {
        transform: translate(0);
    }
}

@media (max-width: 606px) {
    .nav-menu-icon {
        display: block;
    }
    .nav-wide {
        display: none;
    }
}
